* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: consolas;
}

.board {
  margin: 20px auto 0;
  width: 90px;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  background-color: pink;
}

.square {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  color: tomato;
  padding: 20px 0;
  text-align: center;
}
